# Dependency directory
node_modules

dist

# Rest pulled from https://github.com/github/gitignore/blob/master/Node.gitignore
# Logs
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-lock.yaml
yarn.lock

# OS metadata
.DS_Store
